.footer{
    background: #24262b;
    padding: 30px 0px;

}
.row{
    display: flex;
    justify-content: space-between;
}

.conteiner{
    max-width: 1170px;
   
    margin: auto;
}

.footer-col{
    width: 25%;
    padding: 0 15px;


}

.footer-col h4{
    font-size: 18px;
    color: white;
    margin:  35px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    

}
.footer-col li{
    list-style: none;
}


.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    background: rgba(225, 225, 225, 0.2);

}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white;
}

/* responsive */

@media(max-width:700px){
   
.row{
   flex-direction: column;
}


     
}

